*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  background: linear-gradient(360deg, rgba(0,212,255,1) 1%, rgba(0,69,255,1) 100%);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4.5vh;
}

form{
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  flex-direction: column;
  background-color: #fff;
  box-shadow: -1px 3px 10px 1px rgba(0,0,0,0.47);
-webkit-box-shadow: -1px 3px 10px 1px rgba(0,0,0,0.47);
-moz-box-shadow: -1px 3px 10px 1px rgba(0,0,0,0.47);
 
}

.label-head{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: -100px;
}

.label-head h1{
  font-size: 3rem;
  
}

.form-group-input{
  padding: 10px;
  position: relative;
  top: -50px;
}
.form-group-input input{
  width: 500px;
  height: 52px;
  font-size: 1rem;
  padding: 10px;
  border-radius:5px;
  font-family: 'Heboo',sans-serif;
  border: none;
  background-color: #f2f2f2;
}

.form-group-input input:focus{
  outline: 1px blue solid;
}

form button{
  width: 500px;
  height: 52px;
  font-size: 1rem;
  border-radius:50px;
  border: none;
  background: linear-gradient(360deg, rgba(0,212,255,1) 1%, rgba(0,69,255,1) 100%);
  color: #fff;
  position: relative;
  top: -20px;
  transition: transform 80ms ease-in-out;
}

form button:active{
  transform: scale(0.95);
}
.footer-form{
  display: flex;
  padding-left: 20px;
  font-size: 1rem;
}

.footer-form p{
  font-family: Arial, Helvetica, sans-serif;
}

.footer-form a{
  text-decoration: none;
  list-style-type: none;
  color: rgb(0,212,255);
  color: linear-gradient(360deg, rgba(0,212,255,1) 1%, rgba(0,69,255,1) 100%);
  font-family: Arial, Helvetica, sans-serif;
}